{% extends 'layout.html' %} {% block heading %}{{city}}{% endblock %} {% block content %} 

{% for movie in movies %} 
<p>
 {{movie.title}}: {{movie.time_and_day}} showing at {{movie.theater_name}}<br/>
Duration: {{movie.length}} minutes <br/>
Rating: {{movie.rating}}<br/>
Genre: {{movie.genre}}<br/>
</p>
{% endfor %}
 
Temperature (Celsius): {{weather.tempc}} <br/>
Temperature (Fahrenheit): {{weather.tempf}}<br/>
Description: {{weather.summary}}<br/>
Humidity: {{weather.humidity}}<br/>

{% for hotel in hotels %} 
<p>
{{hotel.name}} <br/>
Price: ${{hotel.price}} <br/>
Rating: {{hotel.rating}} <br/>
</p>
{% endfor %}

{% for restaurant in restaurant %} 
<p>
{{restaurant.name}}: {{restaurant.isopen}} <br/>
Address: {{restaurant.address}} <br/>
Rating: {{restaurant.rating}} <br/>
</p>
{% endfor %}

{% endblock %}
