{% extends 'layout_nostyle.html' %} 
{% block heading %}{{city}}{% endblock %} 
{% block content %} 

<!-- Page content -->

<style>
* {box-sizing: border-box;}

body {font-family: "Times New Roman", Georgia, Serif;} /*maybe remove margin??*/

h1,h2,h3,h4,h5,h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
  }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
</style>

<body>
<div class="row">
  <div class="w3-col">
    <h2 class="w3-panel w3-pale-blue">Movies</h2>
	  <h4><a href="{{url_for('Movie4', city = 'Accra')}}">4+ stars movies for Accra TEST</a></h4>
    {% for movie in movies %} 
		<p>
		<h3>{{movie.title}}</h3>
		<b class ="w3-text-teal">When:</b> {{movie.time_and_day}}</br>
		<b class ="w3-text-teal">Where:</b> {{movie.theater_name}}<br/>
		<b class ="w3-text-teal">Duration:</b> {{movie.length}} minutes <br/>
		<b class ="w3-text-teal">Rating:</b> {{movie.rating}}/5<br/>
		<b class ="w3-text-teal">Genre:</b> {{movie.genre}}<br/>
		</p>
	{% endfor %}
  </div>

  <div class="w3-col">
    <h2 class="w3-panel w3-pale-green">Weather</h2>
	{% for w in weather %}
	  <p>
    <b class ="w3-text-teal">Temperature (Celsius):</b> {{w.tempc}} <br/>
	<b class ="w3-text-teal">Temperature (Fahrenheit):</b> {{w.tempf}}<br/>
	<b class ="w3-text-teal">Description:</b> {{w.summary}}<br/>
	<b class ="w3-text-teal">Humidity:</b> {{w.humidity}}%<br/>
	  </p>
	  {% endfor %}
	</div>

  <div class="w3-col">
    <h2 class="w3-panel w3-pale-blue">Hotels</h2>
    {% for hotel in hotels %} 
	<p>
	<h3>{{hotel.name}}</h3> <br/>
	<b class ="w3-text-teal">Price per night:</b> ${{hotel.price}} <br/>
	<b class ="w3-text-teal">Rating:</b> {{hotel.rating}}/10 <br/>
	</p>
	{% endfor %}
  </div>

  <div class="w3-col">
    <h2 class="w3-panel w3-pale-green">Restaurants</h2>
   {% for restaurant in restaurant %} 
	<p>
	<b class ="w3-text-teal">{{restaurant.name}}:</b> {{restaurant.isopen}} <br/>
	<b class ="w3-text-teal">Address:</b> {{restaurant.address}} <br/>
	<b class ="w3-text-teal">Rating: {{restaurant.rating}}</b> <br/>
	</p>
	{% endfor %}
  </div>

</div>

</body>      


{% endblock %}

