{% extends 'layout_nostyle.html' %} 
{% block heading %}{{city}}{% endblock %} 
{% block content %} 

<!-- Page content -->

<style>
* {box-sizing: border-box;}

body {font-family: "Times New Roman", Georgia, Serif; margin: 0;}

h1,h2,h3,h4,h5,h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
  }

/* Create three equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 15px;
}
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
    .column {
        width: 100%;
    }
}
</style>

<body>
<div class="row">
  <div class="column">
    <h2>Movies</h2>
    {% for movie in movies %} 
		<p>
		<h3>{{movie.title}}: {{movie.time_and_day}} showing at {{movie.theater_name}}</h3><br/>
		Duration: {{movie.length}} minutes <br/>
		Rating: {{movie.rating}}/5<br/>
		Genre: {{movie.genre}}<br/>
		</p>
	{% endfor %}
  </div>

  <div class="column">
    <h2 class="w3-panel w3-pale-green">Weather</h2>
	{% for w in weather %}
	  <p>
    Temperature (Celsius): {{w.tempc}} <br/>
	Temperature (Fahrenheit): {{w.tempf}}<br/>
	Description: {{w.summary}}<br/>
	Humidity: {{w.humidity}}%<br/>
	  </p>
	  {% endfor %}
	</div>

  <div class="column">
    <h2 class="w3-panel w3-pale-blue">Hotels</h2>
    {% for hotel in hotels %} 
	<p>
	<h3>{{hotel.name}}</h3> <br/>
	Price per night: ${{hotel.price}} <br/>
	Rating: {{hotel.rating}}/10 <br/>
	</p>
	{% endfor %}
  </div>

  <div class="column">
    <h2 class="w3-panel w3-pale-green">Restaurants</h2>
   {% for restaurant in restaurant %} 
	<p>
	{{restaurant.name}}: {{restaurant.isopen}} <br/>
	Address: {{restaurant.address}} <br/>
	Rating: {{restaurant.rating}} <br/>
	</p>
	{% endfor %}
  </div>

</div>

</body>      


{% endblock %}

