
{% extends 'layout.html' %}
{% block heading %}{% endblock %}
{% block content %}

<!-- Page content -->

<!-- Header -->
  <div class="w3-content" style="max-width:1100px">

  <header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">
  <img src="/static/img/AccraGhana.jpg" style="float:right" width = "1600" height = "580"/>
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge">Nante</h1>
  </div>
  
  <hr>
  
  <!-- Destination Section -->
  <div class="w3-row w3-padding-64" id="destinations">
    <div class="w3-col l6 w3-padding-large">
      <h1>Destinations</h1><br>
      <h4><a href="{{url_for('City', city = 'Accra')}}">Accra, Ghana</a></h4>
      <p class="w3-text-grey">Beautiful capital of Ghana, with plenty to see and do in this amazing city!</p><br>
      
      <h4><a href="{{url_for('City', city = 'Abuja')}}">Abuja, Nigeria</a></h4>
      <p class="w3-text-grey">The capital city of Nigeria is located in the center of the country - and is a must-visit destination for all!</p><br>

      <h4><a href="{{url_for('City', city = 'Ikeja')}}">Ikeja, Nigeria</a></h4>
      <p class="w3-text-grey">Rich with history and culture, there's something for everyone in this colorful and friendly city.</p><br>
    
      <h4><a href="{{url_for('City', city = 'Lagos')}}">Lagos, Nigeria</a></h4>
      <p class="w3-text-grey">Bustling with people from all walks of life, Lagos is diverse and brimming with activity. </p><br>

      <h4><a href="{{url_for('City', city = 'Uyo')}}">Uyo, Nigeria</a></h4>
      <p class="w3-text-grey">Home to several parks, recreational areas, pubs, and shopping centers, take some time to relax and recharge in this city that has plenty to offer for everyone. </p><br>
       
    </div>
    
    <div class="w3-col l6 w3-padding-large">
      <img src="/static/img/lagosnigeria.jpg" class="w3-round w3-image w3-opacity-min" alt="Menu" style="width:100%">
    </div>
  </div>

  <hr>

  
<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>

{% endblock %}

