<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <title>NANTE</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 
  <style>
  body {font-family: "Times New Roman", Georgia, Serif;}
  h1,h2,h3,h4,h5,h6 {
      font-family: "Playfair Display";
      letter-spacing: 5px;
  }
  </style>

  <!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Nante: Your travel guide to Africa</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="#destinations" class="w3-bar-item w3-button">Destinations</a>
      <a href="#weather" class="w3-bar-item w3-button">Weather</a>
      <a href="#movies" class="w3-bar-item w3-button">Movies</a>
      <a href="all-drinkers.html" class="w3-bar-item w3-button">All Drinkers</a>
    </div>
  </div>
</div>

<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script> 

</header>


  <body>
    <h2 id="heading">{% block heading %}{% endblock %}</h2>
    {% block content %}{% endblock %}
  </body>
</html>
