Higher-rated movies:
<div class="row">
  <div class="w3-col">
    <h2 class="w3-panel w3-pale-blue">Movies</h2>

	  <h4><a href="{{url_for('Movie', city = 'Accra', rating = 4.00)}}">4+ stars movies for Accra TEST</a></h4>
	  <h4><a href="{{url_for('Movie', city = 'Accra', rating = 3.00)}}">3+ stars movies for Accra TEST</a></h4>
    
    {% for movie in movies %} 
		<p>
		<h3>{{movie.title}}</h3></br>
		<b class ="w3-text-teal">When:</b> {{movie.time_and_day}}</br>
		<b class ="w3-text-teal">Where:</b> {{movie.theater_name}}<br/>
		<b class ="w3-text-teal">Duration:</b> {{movie.length}} minutes <br/>
		<b class ="w3-text-teal">Rating:</b> {{movie.rating}}/5<br/>
		<b class ="w3-text-teal">Genre:</b> {{movie.genre}}<br/>
		</p>
	{% endfor %}
  </div>

